* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

body {
    font-family: helvetica, "trebuchet MS", sans-serif;
    background: #fff url(/imagens/bg.png);
    margin: 15px;
}

body div {
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

header {
    position: relative;
    background: #ede9cc;
    height: 15.4em;
    min-height: 250px;
}

.logo {
    background: url(imagens/topo-imagem-principal.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 1;
}

.logo h1 a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}

#menus {
    background: url(imagens/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 250px;
    z-index: 2;
}
    #menus img {
        float: right;
        width: 226px;
        height: 164px;
        margin-right: 15px;
        margin-top: 15px;
    }
    #menu-locais {
        margin-left: 90px;
        margin-top: 15px;
        margin-right: 15px;
        border-top: 1px solid #b5ab56;
        border-bottom: 1px solid #b5ab56;
        padding-top: 8px;
        padding-bottom: 8px;
    }
        #menu-locais #locais {
            font-size: 0.7em;
            color: #8b8448;
        }
        #menu-locais .reserva {
            background-color: #a29750;
            text-transform: uppercase;
            color: #fff5b0;
            margin-left: 18px;
            padding: 5px 10px;
        }

    #menu-principal{
        position: absolute;
        margin-top: 15px;
        left: 90px;
    }
        #menu-principal ul {
            list-style: none;
        }
            #menu-principal ul li{
                text-transform: uppercase;
                font-size: 0.8em;
                padding: 8px;
            }
            #menu-principal ul li:hover{
                background-color: #fdf6be;
            }
            #menu-principal ul li a{
                color: #6e672c;
            }

main {

}


